<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.flaviamagnoni.mpandroidchart_t">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AboutUsActivity"></activity>
        <activity android:name=".activities.LineChartActivity" />
        <activity android:name=".activities.LineChartInsertDataActivity" />
        <activity android:name=".activities.PieChartInsertDataActivity" />
        <activity android:name=".activities.BarChartActivity" />
        <activity android:name=".activities.RadarChartInsertDataActivity" />
        <activity android:name=".activities.BarchartInsertDataActivity" />
        <activity android:name=".activities.PieChartActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RadarChartInsertLabelActivity" />
        <activity android:name=".activities.RadarChartActivity" />
    </application>

</manifest>